@import "../styles/common";

.home-page-image
{
	display   : block;
	max-width : 100%;

	margin-left  : auto;
	margin-right : auto;

	border-width : 1px;
	border-style : solid;
	border-color : #7f7f7f;

	border-radius : 0.5em;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}